.background-cuizine {
    /* background: linear-gradient(0deg, rgb(0 0 0 / 80%), rgb(0 0 0 / 80%)), url(../img/header.jpg); */
    background-image: url('../img/team/team.jpg');
    background-position: center;
}

nav, header {
    background-color: rgb(0 0 0 / 80%);
    
}

.navbar {
    border-bottom: 2px solid rgb(73 72 72 / 80%);
}

.navbar h2 a {
    font-size: 30px;
}
.h4 { 
    font-size:smaller

}
.h3{
    font-size: x-small;
}
.header-cuizine-row {
    height: 400px;
}

.header-cuizine-row img {
    width: 80px;
}
section {
    background-color: white;
    padding-top: 100px;
}
p {
    text-align: center;
}
.rounded-circle {

    height: 100px;
    width: 100px;
    align-items: center;
}
footer a {
    color: #fff;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

aside i.bi, footer i.bi {
    padding: 5px;
}
